*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#0f172a;
  color:white;
}

header{
  background:#111827;
  padding:20px 10%;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav h2{
  color:#38bdf8;
}

nav ul{
  display:flex;
  list-style:none;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h1{
  font-size:50px;
  margin-bottom:20px;
}

.hero p{
  font-size:20px;
  max-width:600px;
  margin-bottom:30px;
}

.hero a{
  background:#38bdf8;
  color:white;
  padding:15px 35px;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}
.about{
  padding:100px 10%;
  text-align:center;
  background:#111827;
}

.about h2{
  font-size:40px;
  color:#38bdf8;
  margin-bottom:20px;
}

.about p{
  max-width:700px;
  margin:auto;
  font-size:20px;
  line-height:1.8;
}
.skills{
  padding:100px 10%;
  text-align:center;
}

.skills h2{
  color:#38bdf8;
  font-size:40px;
  margin-bottom:40px;
}

.skills-container{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.skill{
  background:#1e293b;
  padding:20px 40px;
  border-radius:10px;
  font-size:22px;
  font-weight:bold;
}
.projects{
  padding:100px 10%;
  text-align:center;
  background:#111827;
}

.projects h2{
  color:#38bdf8;
  font-size:40px;
  margin-bottom:40px;
}

.projects-container{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.project-card{
  width:280px;
  background:#1e293b;
  padding:25px;
  border-radius:12px;
  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-10px);
}

.project-card h3{
  margin-bottom:15px;
}
.contact{
  padding:100px 10%;
  text-align:center;
}

.contact h2{
  color:#38bdf8;
  font-size:40px;
  margin-bottom:20px;
}

.contact p{
  margin-bottom:30px;
  font-size:20px;
}

.contact-btn{
  display:inline-block;
  background:#38bdf8;
  color:white;
  text-decoration:none;
  padding:15px 35px;
  border-radius:30px;
  font-weight:bold;
}

.contact-btn:hover{
  background:#0ea5e9;
}
footer{
  background:#111827;
  text-align:center;
  padding:30px;
  margin-top:50px;
}

footer p{
  color:#94a3b8;
  font-size:16px;
}
.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00bfff;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
}
.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 30px auto;
    border: 4px solid #00bfff;
}
